---
layout: archive
title: "论文"
permalink: /zh/publications/
lang: zh
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications_zh reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        {% if category[1].title == "Conference Papers" %}
          <h2>会议论文</h2><hr />
        {% elsif category[1].title == "Journal Articles" or category[1].title == "Journal Papers" %}
          <h2>期刊论文</h2><hr />
        {% else %}
          <h2>{{ category[1].title }}</h2><hr />
        {% endif %}
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications_zh reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



