{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% assign nav_lang = page.lang | default: site.locale | slice: 0,2 %}
          {% for link in site.data.navigation[nav_lang] %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <li id="theme-toggle" class="masthead__menu-item persist tail">
            <a role="button" aria-labelledby="theme-icon"><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i></a>
          </li>
          <li id="lang-toggle" class="masthead__menu-item persist tail">
            <a role="button" aria-labelledby="lang-icon"><i id="lang-icon" class="fa fa-language" aria-hidden="true" title="切换语言"></i></a>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
<script src="/assets/js/lang-en.js"></script>
<script src="/assets/js/lang-zh.js"></script>
<script src="/assets/js/lang-toggle.js"></script>
